.input {
    display: flex;
    flex-direction: column;
    margin: '5px 0px';
}

.label {
    margin-bottom: 5px;
    font-weight: 500;
}

.priceInput {
    padding: 16px 14px;
    outline-color: #1976D2;
    border: 1px solid #B3B3B3;
    border-radius: 3;
}