.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-left: 7rem;
    padding-right: 7rem;
}

.pagination {
    margin-top: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .actions {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media only screen and (max-width: 600px) {
    .actions {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}